# Files from external sources
brew
catkin_create_pkg
catkin_find
catkin_init_workspace
catkin_make
catkin_make_isolated
catkin_package_version
catkin_prepare_release
catkin_test_results
catkin_topological_order
cnc25d_example_generator.py
couchapp
cpplint
dump3ds
easy_install
easy_install-2.7
easy_install-3.4
easy_install-3.5
electron
execute-json-from-fifo
eyeD3
f2py3
futurize
garden
garden.bat
get_objgraph.py
git-latexdiff
igor
igorbinarywave.py
igorpackedexperiment.py
iptest
iptest2
iptest3
ipython
ipython2
ipython3
ipython-notebook
isort
isympy3
jsonschema
jupyter
jupyter-console
jupyter-contrib
jupyter-contrib-nbextension
jupyter-kernelspec
jupyter-migrate
jupyter-nbconvert
jupyter-nbextension
jupyter-nbextensions_configurator
jupyter-notebook
jupyter-qtconsole
jupyter-run
jupyter-serverextension
jupyter-troubleshoot
miniterm.py
oni
oni-vim
pasteurize
pdfbooklet
pip
pip3
pip3.4
powerline
powerline-config
powerline-daemon
powerline-lint
powerline-render
powerpoint
ptangle
Ptangle
pweave
Pweave
pweave-convert
pycharm
pyflakes
pygmentize
pynvim
pypublish
range-detector
rename_from_id3
restcli
rosversion
slic3r
stl2gco-normal
subuser
teee
theano-cache
theano-nose
theano-test
unpickle.py
utm-converter
view3ds
vimcat
vimpager
vimterm
vrep
watchmedo
word
youtube-dl
